@media only screen and (max-width: 767px) {
    /* For tablets: */

    /* * {
        margin: 0;
    } */
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
        box-sizing: border-box;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
        box-sizing: border-box;
    }

    /* ----------------------------------- SCREEN 1 */
    #screen1{
        width: 100vw;
        height: 100vh;
        position: fixed;
    }

    .s-modal {
        display: block; /* Hidden by default */
        position: fixed; /* Stay in place */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        /* background-color: rgb(0,0,0); 
        background-color: black;  */
        object-fit: cover;
    }

    .s-modal_photo {
        z-index: 1; /* Sit on top */
        display: block;
        position: fixed;
        height: 100%;
        width: 100%;
        object-fit: cover;
        left: auto;
        right: auto;
    }

    .s-black-background {
        z-index: 2;
        display: block;
        background-color: black;
        opacity: 0.5;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        object-fit: cover;
    }

    .block-container-template {
        background: white;
        width: 100vw;
        height: 30vh;
        overflow: hidden;
        position: relative;
        top: 0vh;
    }

    .s-front_text-container {
        z-index: 3;
        background: none;
        width: 100vw;
        height: auto;
        overflow: hidden;
        position: relative;
        top: 25%;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .s-front {
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        text-align: center;
        color: white;
    }

    .s-front_gunungan {
        z-index: 3;
        width: 15vw;
    }

    .s-front_pernikahan {
        z-index: 3;
        font-family: Halant;
        font-size: 1.5em;
    }

    .s-front_dr {
        z-index: 3;
        font-family: 'Great Vibes';
        font-size: 3.5em;
    }

    .s-front_tgl {
        z-index: 3;
        font-family: Halant;
        font-size: 1em;
    }

    .s-front_open {
        z-index: 3;
        font-family: Halant;
        font-size: 1em;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 5px;
        width: 50vw;
        height: 5vh;
        margin-top: 5vh;
        padding-top: 0.5vh;
    }
    /* ----------------------------------- END OF SCREEN 1 */


    /* ----------------------------------- SCREEN 2 */
    #screen2 {
        width: 100vw;
        height: 200vh;
        margin: 0;
    }

    #s-container1 {
        background: white;
        width: 100vw;
        height: 50vh;
        overflow: hidden;
        position: relative;
        top: 0vh;
    }

    .s-modal_photo_2 {
        z-index: 1; /* Sit on top */
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        left: auto;
        right: auto;
    }

    #s-container2 {
        margin-top: 2vh;
        width: 70vw;
        height: auto;
        overflow: hidden;
        position: relative;
        
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3vh;
        display: block;
        font-family: Halant;
        font-style: normal;
        font-weight: normal;
        font-size: .8em;
        line-height: 2em;
        /* or 208% */

        text-align: center;
        letter-spacing: 0.05em;
        color: #4A4A4A;
    }

    b {
        font-size: 1.8em;
        color: #A65301;
        outline: none;
    }

    #s-container3 {
        background-color: #FEE3C7;
        width: 100vw;
        height: auto;
        overflow: hidden;
        position: relative;
        top: 0vh;
        display: block;
        padding-bottom: 5vh;
    }

    /* #s-container3::before {
        -ms-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        transform: scale(1.5); 
    } 
    */

    .s-inside_container3-tgl {
        height: auto;
        width: 80%;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-top: 5%;
    }

    #senin {
        margin-left: auto;
        margin-right: auto;
        color: #A65301;
        font-family: 'Great Vibes';
        text-align: center;
    }

    .mei {
        color: #A65301;
        font-family: 'Gupter';
        font-style: normal;
        font-weight: normal;
        font-size: 1.7em;
        padding: 0;
        margin-top: 1vh;
    }

    #tigas {
        color: #A65301;
        font-family: 'Asul';
        font-style: normal;
        font-weight: normal;
        font-size: 3.5em;
        text-align: center;
        padding: 0;
    }

    .jam {
        color: #A65301;
        font-family: 'Gupter';
        font-style: normal;
        font-weight: normal;
    }

    .jam-kanan {
        text-align: left;
    }

    .jam-kiri {
        text-align: right;
    }

    .row::after {
        content: "";
        clear: both;
        display: table;
    }

    [class*="col-"] {
        float: left;
        /* padding: 1vh; */
    }

    .line1 {
        position: relative;
        width: 70vw;
        /* height: 5vw; */
        top: 0;
        display: block;
        border-top: 1px solid #A65301;
    }

    .line2 {
        position: relative;
        width: 30vw;
        /* height: 5vw; */
        top: 0;
        display: block;
        border-top: 1px solid #A65301;
    }

    .line3 {
        position: relative;
        width: 20vw;
        /* height: 30vw; */
        left: 40vw;
        top: 0;
        display: block;
        border-top: 1px solid #A65301;
    }

    .container-tgl_n_akadres {
        height: auto;
        overflow: hidden;
        position: relative;
    }

    .watermark {
        display: block;
        opacity: .1;
        position: absolute;
        object-fit: cover;
        margin-left: 25vw;
    }

    /* animation */
    /* Some constant values which will apply on every projects. */
    .front_aos_container .aos_container .aos_content {
        position: relative;
        /* height: calc(1 * 350px);
        width: calc(1.4142 * 350px);
        margin: 20px; */
        transition: 1s;
        transition-property: opacity, transform;
        opacity: 0;
    }

    .front_aos_container .aos_container.active .aos_content {
        opacity: 1;
        transform: translate3d(0, 0, 0) rotate3d(0deg, 0deg, 0deg) scale(1) skew(0deg, 0deg);
    }

    /* User choice of animation. */

    .box1 .aos_content {
        transform: translateX(-200px);
    }

    .box2 .aos_content {
        transform: translateX(200px);
    }

    .box3 .aos_content {
        transform: scale(0);
    }

    .box4 .aos_content {
        transform: scale(0);
    }

    .box5 .aos_content {
        transform: rotateX(90deg);
    }

    .box6 .aos_content {
        transform: rotateX(90deg);
    }

    .box7 .aos_content {
        transform: translate3d(300px, 300px, 0);
    }

    .box8 .aos_content {
        transform: translate3d(-300px, -300px, 0);
    }

    .front_aos_container .box1.active .aos_content {
        transform: translateX(0);
    }

    .front_aos_container .box2.active .aos_content {
        transform: translateX(0);
    }

    .front_aos_container .box3.active .aos_content {
        transform: scale(1);
    }

    .front_aos_container .box4.active .aos_content {
        transform: scale(1);
    }

    .front_aos_container .box5.active .aos_content {
        transform: rotateX(0deg);
    }

    .front_aos_container .box6.active .aos_content {
        transform: rotateX(0deg);
    }

    .front_aos_container .box7.active .aos_content {
        transform: translate3d(0, 0, 0);
    }

    .front_aos_container .box8.active .aos_content {
        transform: translate3d(0, 0, 0);
    }

    #s-container3.active .box1 .aos_content {
        transform: translateX(0);
    }

    #s-container3.active .box2 .aos_content {
        transform: translateX(0);
    }

    #s-container3.active .box3 .aos_content {
        transform: scale(1);
    }

    #s-container3.active .box4 .aos_content {
        transform: scale(1);
    }

    #s-container3.active .box5 .aos_content {
        transform: rotateX(0deg);
    }

    #s-container3.active .box6 .aos_content {
        transform: rotateX(0deg);
    }

    #s-container3.active .box7 .aos_content {
        transform: translate3d(0, 0, 0);
    }

    #s-container3.active .box8 .aos_content {
        transform: translate3d(0, 0, 0);
    }
    /* ----------------------------------- END OF SCREEN 2 */
}